# Compiled Binaries
# The ** catches these in root, /cpp, /cpp_mt, /rust, and /rust_mt
**/speed_test_cpp*
**/speed_test_rust*

# Rust/Cargo Artifacts
target/
**/*.rs.bk

# IDE and System Files
.vscode/
.history/
.DS_Store
*.log

# Temporary and Object Files
*.o
*.out